body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #b5e7a0;
}

canvas {
    border: 1px solid black;
    position: absolute;
    top: 0;
}

#gameCanvas {
    position: absolute;
    top: 5%;
}
