body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #b5e7a0;
}

canvas {
    border: 1px solid black;
    position: absolute;
    top: 4%;
}

.popup {
    display: none;
    position: absolute;
    background-color: yellow;
    border: 1px solid black;
    padding: 4%;
    text-align: center;
    z-index: 10;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
  width: 88%;
}

#bestPlayer {
    position: center;
    top: 10%;
    left: 0%;
    font-size: 18px;
    text-align: center;
}

#highScoresList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}

#highScoresList li {
    width: 100%;
    padding: 0px 0px;
}

.high-scores-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

th {
    background-color: #f2f2f2;
}
