.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

button {
  font-size: 4rem;
  margin: 0 2rem;
}

.result {
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  button {
    font-size: 2.5rem;
  }
  .result {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
  button {
    font-size: 2rem;
    margin: 0 1rem;
  }
  .result {
    font-size: 1.8rem;
  }
}
