body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #b5e7a0;
}

#gameContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100vh;
    max-height: 100vw;
}

canvas {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
}
