body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b5e7a0;
}

canvas {
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    canvas {
        margin: 0 auto;
    }
}
