body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #b5e7a0;
}

canvas {
    border: 1px solid black;
    position: absolute;
    top: 2%;
}

.popup {
    display: none;
    position: absolute;
    background-color: yellow;
    border: 1px solid black;
    padding: 4%;
    text-align: center;
    z-index: 10;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
  width: 88%;
}

.high-scores-list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    box-sizing: border-box; /* Add this line to include padding in the total width calculation */
    max-width: calc(50% - 10px); /* Add this line to limit the width of each column */
}

.column:last-child {
    padding-right: 0;
}

.column li {
    list-style: none;
    padding: 0px;
    white-space: nowrap;
    font-size: 14px; /* Adjust the font size to your preference */
}
