body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Change from center to flex-start */
    height: 100vh;
    margin: 0;
    background-color: #b5e7a0;
}

canvas {
    border: 1px solid black;
    margin-top: 10px; /* Add a margin to the top of the canvas */
}
